#navbar{
    height: 10vh;
    width: 100%;
    background-color: var(--main);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    position: relative;
    left: 0;
    top: 0;
    z-index: 500;
}

#navTitle{
    height: 100%;
    width: auto;
    margin-left: 5%;
    display: flex;
    align-items: center;
}

#navTitle h1{
    color: #ffffff;
}

#navMenu{
    height: 6vh;
    margin: 2vh 0;
    margin-right: 5%;
    display: inline;
}
#navMenu img{
    height: 100%;
    width: auto;
    
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.rotate img{
    transform: rotate(90deg);
}


#menu{
    position: absolute;
    top: 10vh;
    height: 90vh;
    width: 100%;
    background-color: var(--seccond);
    z-index: 110;
    position: fixed;
    border-top: 1px solid #ffffff;
    top: -100vh;
    
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

#menu .menu-links{
    width: 85%;
    margin: 5% auto 0 auto;
}

.menu-links a, .menu-links h2{
    color: #ffffff;
    text-align: center;
}

.menu-links a{
    font-size: 1.3em;
    display: block;
    margin-top: 2vh;
}

.menu-links h2{
    font-size: 1.5em;
    margin-bottom: 3vh;
    text-decoration: underline;
}

.menu-links .margin{
    margin-top: 10vh;
}