:root {
    --main: #1FA6EB;
    --seccond: #157aa8;
    --darkGrey: #383838;
    --lightGrey: #707070;
}

body{
  padding: 0;
  margin: 0;
  font-family: 'Righteous', cursive;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}


hr{
  width: 90%;
  color: #ffffff;
}

.dark-hr{
  color: var(--lightGrey);
}

.hundred-hr{
  width: 100%;
}




/* Fonts */
h1{
  color: var(--darkGrey);
}
h2{
  color: var(--darkGrey);
}
h3{
  color: var(--darkGrey);
}
p{
  color: var(--lightGrey);
}

.light-color{
  color: var(--lightGrey);
}
.dark-color{
  color: var(--darkGrey);
}

.big{
  font-weight: bold;
}


a{
  text-decoration: none;
}


#main{
  width: 90%;
  margin: 2vh auto 0 auto;
}

#main h1{
  margin-top: 5vh;
  font-size: 1.4em;
}